        <footer>
            <div class="d-flex align-items-center navbar">
                <div>
                    <ul  class="d-flex align-items-center footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="socials">
                    <a href="https://www.linkedin.com/in/evan-comtesse/"><img src="https://www.fremantle.wa.gov.au/sites/default/files/linkedIn-logo_0.png" alt="LinkedIn logo"></a>
                    
                    <a href="https://github.com/ecomtesse"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub logo"></a>
                    
                </div>
            </div>
        </footer>
        <script src="../../public/images/GitHub-Mark/PNG/GitHub-Mark-32px.png" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

