<body>
    <header>
        <div class="container page-container">
            <div class="d-flex justify-content-between align-items-center text-white">
            <h1>myStuff</h1>
                <nav>
                    <% if (currentUser) { %>
                        <form action="/logout?_method=DELETE" method="post">
                            <input class="btn btn-outline-light me-auto" type="submit" value="Log Out">
                        </form>
                    <% } else { %>
                        <a class="btn btn-outline-light me-auto" href="/login">Log In</a>    
                    <% } %>
                </nav>
            </div>
        </div>
    </header>
