<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<main>
      
    <h2>Create nNew Item</h2>
    <!-- enctype="multipart/form-data" -->
    <form action="<%= baseUrl %>" method="post" >
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/>

        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand"/>

        <!-- <label for="image">Image</label>
        <input type="file" name="image" id="image"/> -->

        <label for="manufacturer">Manufacturer</label>
        <input type="text" name="manufacturer" id="manufacturer"/>

        <label for="model">Model</label>
        <input type="text" name="model" id="model"/>

        <label for="yearOfProduction">Year of Production</label>
        <input type="number" name="yearOfProduction" id="yearOfProduction"/>

        <label for="purchasePrice">Purchase Price</label>
        <input type="number" name="purchasePrice" id="purchasePrice"/>

        <label for="currentValue">Estimated Current Value</label>
        <input type="number" name="currentValue" id="currentValue"/>

        <label for="preparedToSell">For Sale</label>
        <input type="checkbox" name="preparedToSell" id="preparedToSell"/>

        <label for="soldPrice">Sold for</label>
        <input type="number" name="soldPrice" id="soldPrice"/>

        <label for="qty">Quantity</label>
        <input type="number" name="qty" id="qty"/>

        <label for="otherInfo">Other Info</label>
        <input type="text" name="otherInfo" id="otherInfo"/>

        <input type="submit" value="Add Stuff">
    </form>
</main>
<%- include("./partials/footer.ejs") %>