<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<main>
      
    <h2>Create New Item</h2>
    <form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/>
        <br>
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand"/>
        <br>
        <label for="image">Image</label>
        <input type="file" name="image" id="image"/>
        <br>
        <label for="manufacturer">Manufacturer</label>
        <input type="text" name="manufacturer" id="manufacturer"/>
        <br>
        <label for="model">Model</label>
        <input type="text" name="model" id="model"/>
        <br>
        <label for="yearOfProduction">Year of Production</label>
        <input type="number" name="yearOfProduction" id="yearOfProduction"/>
        <br>
        <label for="purchasePrice">Purchase Price</label>
        <input type="number" name="purchasePrice" id="purchasePrice"/>
        <br>
        <label for="currentValue">Estimated Current Value</label>
        <input type="number" name="currentValue" id="currentValue"/>
        <br>
        <label for="preparedToSell">For Sale</label>
        <input type="checkbox" name="preparedToSell" id="preparedToSell"/>
        <br>
        <label for="soldPrice">Sold for</label>
        <input type="number" name="soldPrice" id="soldPrice"/>
        <br>
        <label for="qty">Quantity</label>
        <input type="number" name="qty" id="qty"/>
        <br>
        <label for="otherInfo">Other Info</label>
        <input type="text" name="otherInfo" id="otherInfo"/>
        <br>
        <input type="submit" value="Add Stuff">
    </form>
</main>
<%- include("./partials/footer.ejs") %>